html, body {
    height: 100%;
    width: 100%;
    background-color: lightseagreen;
}

hr {
    margin: 0px;
}

.searchbar {
    margin: 2.5%;
    width: 95%;
}

.point-of-interest {
    padding: 2.5%;
    border-bottom: 1px solid rgba(0,0,0,.1)
}

#page-content {
    height: 90%;
}

#sidebar {
    height: 100%;
    padding: 0px;
    overflow: hidden;
    display: none;
}


#dropdown-select {
    height: 10%;
    padding: 0px;
    display: block;
}

#point-container {
    height: 90%;
    overflow: auto;
}

#map {
    width: 100%;
    height: 100%;
    background-color: grey;
}

#map-container {
    height: 90%;
    padding: 0px;
}

@media only screen and (min-width: 600px){
    /* tablet and larger styling */
    #sidebar {
        display: block;
    }

    #dropdown-select {
        display: none;
    }

    #map-container {
        height: 100%;
        padding: 0px;
    }

}

